.slogan{
    width: 1300px;
    background-image: linear-gradient(45deg, rgba(1, 1, 1, 0.5) 100%, rgba(45, 95, 93, 0.85)), url("https://static.wixstatic.com/media/ea26fd_d2e27025d99e435796648e91d9219947~mv2_d_6720_4480_s_4_2.jpeg/v1/fill/w_1359,h_560,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ea26fd_d2e27025d99e435796648e91d9219947~mv2_d_6720_4480_s_4_2.jpeg");
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
    padding-top: 10%;
    font-size: 200%;
    color: white;
}

.img-slogan{
    width: 85.6%;
}
